<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Wikipraktika | Taschenrechner - tragbare, handliche elektronische Rechenmaschine</title>

		<!-- TODO: author, publisher, description, bookmark icon -->

		<link rel="stylesheet" type="text/css" href="styles/styles.css">
	</head>
	<body>
		<header>
			<!-- TODO -->
			<!--<img id="header_logo" src="../media/logo-wikipraktika.svg"/>-->

			<div class="header_container"><h1 id="header_title">Wikipraktika</h1></div>
				<img id="header_logo" src="../media/logo-wikipraktika.svg"/>
		</header>
		<nav>
			<h1>Navigation</h1>
			<section>
				<p><a href="#">Hauptseite</a></p>
				<p><a href="#">Themenportale</a></p>
				<ul><p>Mitmachen</p>
					<li><a href="#">Artikel verbessern</a></li>
					<li><a href="#">Neuen Artikel anlegen</a></li>
					<li><a href="#">Autorenportal</a></li>
					<li><a href="#">Letzte Änderung</a></li>
					<li><a href="#">Kontakt</a></li>
					<li><a href="#">Spenden</a></li>
				</ul>
				<ul><p>Werkzeuge</p>
					<li><a href="#">Links auf diese Seite</a></li>
					<li><a href="#">Letzte Änderungen</a></li>
					<li><a href="#">Permanenter Link</a></li>
					<li><a href="#">Artikel zitieren</a></li>
				</ul>
				<ul><p>In anderen Sprachen</p>
					<li id="lang-it" class="lang"><a href="#">Italiano</a></li>
					<li id="lang-fr" class="lang"><a href="#">Francais</a></li>
					<li id="lang-en" class="lang"><a href="#">English</a></li>
				</ul>
			</section>
		</nav>


		<main>
			<section></section>
			<section></section>
			<section></section>
			<section></section>
			<section></section>
			<section></section>
			<section></section>
			<section></section>
			<!-- Schriftgrössenwechsler: optionale Aufgabe -->
			<form id="font-size-form">
				<label for="font-slider">Schriftgrösse</label>
				<input type="range" min="8" max="20" step="1" value="10" title="1" name="font-slider"
					   id="font-slider" />
				<output name="font-size" id="font-size">1</output>
			</form>

			<!-- TODO -->
		</main>

		<!-- TODO -->
		<footer></footer>
	</body>
</html>