/* color variables TODO, delete at the end */
:root {
	--color-gray: #F6F6F6;
	--color-blue: #0060A0;
	--color-light-blue: #DBE6EF;


	--color-radio-button: #F07848;
	--color-border-gray: #E1E1E1;
}


/* reset */
*  {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


/* document */
body {
	font-size: 0.9rem;
	font-family: "URW Gothic L", "Helvetica", "Arial", sans-serif;
	margin: 6em; /*site-wide margin*/
}

/* header */
header {
	position: relative;
	margin-bottom: 2em;
}

.header_container {
	background:#0060A0;

}

#header_title {
	font-size: 2.5rem;
	font-style: normal;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	padding: 0.2em;
	padding-left: 2.3em;

}

#header_logo{
	width: 5em;
	height: 5em;
	position: absolute;;
	top: 20%;
	left: 1%;
}

/* navigation */

nav{
	border: 1px solid blue;
	background-color: #F6F6F6;
	padding: 0.5em;
}

nav li {
	list-style: none;
}

.lang::before, .searchButton::before {
	content: "";
	display:inline-block;
	height:0.8em;
	width: 1em;
	background-size: 1em 0.8em;
	background-repeat: no-repeat;
	margin-right: 0.2em;
	text-align: center;
	vertical-align: middle;
}
#lang-it::before {
	background-image: url(../../media/flag-it.svg);
}

#lang-fr::before {
	background-image: url(../../media/flag-fr.svg);
}

#lang-en::before {
	background-image: url(../../media/flag-en.svg);
}

.searchButton::before {
	background-image: url(../../media/icon-search.svg);
}

/* main sections */
article > ol{
	counter-reset: item;
    list-style-type: none;
}

.header-number {
	font-weight: bold;
	margin: 0;
}

.header-number::before{
	content: counter(item) "  "; 
	counter-increment: item;
	float: left;
    font-size: 1.17em;
    padding-right: 0.5em;
}

section {
	font-weight: 100;
}


/* general text */

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }

h1{
	margin-left: 1%;
	margin-bottom: 2%;
}

h3 { margin-top: 1.5em; }

hr { margin-bottom: 1em; }

li { margin-left: 1em; }

ol[start] li { margin-left: 1.6em; } /* starting from 78 */

a{ color: #0060A0; }


figure {
	float: left;
	width: 200px;
	margin: 1.5em 1em 1.5em 0;
}

figure img {
	width: inherit;
    height: inherit;
}

small, figcaption {
	font-size: 0.8em;
	word-break: break-all;
	display: block;
	margin-bottom: 1em;
}



/* forms */

#font-size-form {
	float: right;
}
#font-size-form > label, #font-size-form > input, #font-size-form > output {
	display: inline-block;
	vertical-align: middle;
	padding: 0; margin: 0;
}

/* calculator iframe */
iframe {
	width: 40rem;
	height: 45rem;
}

/* tables */

table {
	width: 100%;
	border-collapse: collapse;
}

.top-row {
	border-top: 4px solid black;
	border-bottom: 4px solid black;
}

tr:nth-child(odd){
	background: #DBE6EF;
}

/* irregular table borders */
tr:nth-child(3){
	border-top: 2px solid #BDD0E4;
	border-bottom: 1px solid #BDD0E4;
}
tr:nth-child(5){
	border-top: 2px solid #BDD0E4;
	border-bottom: 2px solid #BDD0E4;
}
tr:nth-child(7){
	border-top: 1px solid #BDD0E4;
	border-bottom: 2px solid #BDD0E4;
}

th, td {
	text-align: center;
	padding: 0.7em;
}

th {
	background: #0060A0;
	color: white;
}

td:first-child {
	font-weight: bold;
}

/*footer*/
footer {
	background: #0060A0;
	padding: 0em 0.5em;
	line-height: 2em;
}

footer p, footer address, footer small, footer a {
	color: white;
}

/* custom classes */

/* section specific changes */
.table_maths img {
	display:block;
	margin:auto;
}
.wiki-article p, h4{
	margin-bottom: 0.6em;
}


/* special components */

.starred_lists li{
	list-style: none;
}

.starred_lists li::before{
	content: "⌖ ";
}
.list_title_blue{
	color: #0060A0;
    font-weight: bold;
} 
.last_editor {
	width: 100%;
	border: 1.7px dotted black;
	padding: 0.1em 0.2em;
	font-style: italic;
}

.last_editor time {
	float:right;
}

.media_descriptor  { color: #928983; }


/* autocomplete */

.autocomplete {
	position: relative;
	display: inline-block;
} 

#searchField {
	background: #F6F6F6;
	border: none;
	border-bottom: 1px solid black;
	padding: 5px;
}

#searchField:focus {
	outline: none;
}

.formButton {
	/*-webkit-box-shadow: 5px #D1C6D1;
	/-moz-box-shadow: 5px #D1C6D1;*/
	box-shadow: 1px 1px 5px 2px #D1C6D1;
	padding: 5px 10px;
	border: none;
	border-radius: 3px;
	color: white;
	background: #0060A0;
	font-size: 1em;
}

.searchButton::before {
	height: 1.3em;
	width: 1.3em;
	background-size: 1.3em 1.3em;
	margin-right: 0.5em;
	margin-left: 0.1em;
}


.autocomplete-items {
	position: absolute;
	z-index: 1;
	top: 100%;
	left: 0;
	right: 0;
	-webkit-box-shadow: 3px 3px 7px -1p #D1C6D1;
	-moz-box-shadow: 3px 3px 7px -1px #D1C6D1;
	box-shadow: 3px 3px 7px -1px #D1C6D1;
}

.autocomplete-items div {
	padding: 2px;
	cursor: context-menu;
	background-color: #fff; 
}

.autocomplete-items div:hover {
	background-color: #EB6123; 
	color: white;
}
